[*.cs]


# SA1404: Code analysis suppression should have justification
dotnet_diagnostic.SA1404.severity = none

# SA1633: File header
dotnet_diagnostic.SA1633.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none

# SA1309: starting underscore
dotnet_diagnostic.SA1309.severity = none

dotnet_diagnostic.SA1615.severity = none

dotnet_diagnostic.SA1642.severity = none

dotnet_diagnostic.SA1623.severity = none